/* sobre a configuração de aspectos da página */
body {
    background-color: rgb(7, 57, 7);
}


/* Sobre a configuração de imagens */
#imagem {
    float: right;
    margin-left: 5px; 
    width: 400px; 
    height: auto;
}


/* Sobre a configuração dos textos */
.texto{
    color: rgb(74, 234, 82);
}
#titulo {
    font-size: 170%;
    color: rgb(7, 57, 7);
}

#agradecimento {
    font-size: 170%;
    color: rgb(7, 57, 7);
}

.paragrafo1 {
    display: inline;
    color: rgb(74, 234, 82);
}

.saudacoes {
    display: inline-block;
    align-items: center; 
    justify-content: center;
    background-color: rgb(74, 234, 82); 
}

#p1{
    font-size: 150%;
}

#titulocontexto {
    font-size: 200%;
    background-color: rgb(3, 29, 3);
}

#contextodiv {
    background-color: rgb(3, 29, 3);
    align-items: center; 
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 2px;
    display: none;
    overflow: auto;
}

.textodiv1 {
    font-size: 120%;
    color: rgb(74, 234, 82);
}